.heading
{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start, #restart
{
    font-size: 22px;
}

h4
{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

.modal-dialog
{
    width: 90%;
}

.ol
{
    display: inline-block;
    width: 45%;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}